

pre {
    width: 80ch; /* classic terminal width for code sections */
}


#sorgente
{ 	
	
    padding: 4px;
    border: 1px solid black;
    overflow-y:auto;
	font-family: monospace;

}

#sol_utente
{
 font-family: monospace;
 width: 60ch+4px; 
 height:300px ;
 overflow-x: auto;
 overflow-y: scroll;
 border: 1px solid black;
    
}

/* http://colintoh.com/blog/display-table-anti-hero#responsive */
.boxes {
  display:table;
  width: 100%;
  height: 100%;
}


.box {
  display: table-cell;
  /*text-align: center; */
  /*vertical-align:middle;*/
  /*line-height: 13em;*/
  width: 50%;
}
